@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
    color: azure;
}

/* heading and logo */

h1, h2, h3 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(246, 176, 0);
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    color: #f0ffff;
    margin-right: 20px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f0ffff;
}

.active {
    border-bottom: 1px solid #f0ffff;
}

/* homepage image */

#homepage-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url(../images/homepage-image.jpg) no-repeat center center;

    /* zoom animation when loading page */
    animation-name: homepage-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for homepage image */
@keyframes homepage-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* viking infomation */

#viking-info {
    height: 800px;
}

div h3 {
    text-align: center;
}

#viking-info-heading {
    text-align: center;
    margin: 30px 0;
    font-size: 300%;
}

#left-info-image {
    background: url(../images/runic-symbols.jpg) no-repeat center center; /* used multiple images until happy */
    background-position: center;
    background-size: 350px;
    height: 300px;
    width: 100%;
}

#left-info {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 33%;
    float: left;
}

#left-info p {
    padding-top: 30px;
    text-align: center;
}

#right-info-image {
    background: url(../images/weapons-image.jpg) no-repeat center center;
    background-position: center;
    background-size: 350px;
    height: 300px;
    width: 100%;
}

#right-info {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 33%;
    float: right;
}

#right-info p {
    padding-top: 30px;
    text-align: center;
}

/* How to make all images equal to eachother?*/
#center-info-image {
    background: url(../images/longship-image.png) no-repeat center center;
    background-position: center;
    background-size: 350px;
    height: 300px;
    width: 100%;
}

#center-info {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 33%;
    margin: 0 auto;
}

#center-info p {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}

/* mini god images */

.container {
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
}

.card {
    flex: 1;
    overflow: hidden;
    width: 250px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    width: 250px;
    height: 500px;
    object-fit: cover;
}

.card:hover {
    flex: 3;
    width: 250px;
    height: 500px
}

.card:hover img {
    filter: none;
    width: 250px;
    height: 500px;
}

/* footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: rgb(246, 176, 0);
}

/* hall of the gods gallery */

#gods {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gods img {
    width: 100%;
}

.photo-container {
    position: relative;
    width: 100%;
}

.photo {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.photo-container:hover .photo {
    opacity: .5;
}

.photo-container:hover .overlay {
    opacity: 1;
}

.text {
    color: rgb(246, 176, 0);
    font-size: 50px;
    padding: 16px 32px;
}

/* contact */

.form-container {
    width: fit-content;
    height: auto;
    font-size: 20px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    }

legend {
        font-size: 40px;
        padding-top: 150px;
        width: 300px;
        height: auto;
    }

    #feedback {
        width: 300px;
        height: auto;
    }

input[type=submit] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: rgb(246, 176, 0);
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
}

input[type=reset] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: rgb(246, 176, 0);
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* Media queires*/

@media screen and (max-width: 1200px) {
    #viking-info {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #logo {
        padding: 30px 0;
        margin: 0;
    }

    #left-info, #right-info {
        width: 100%;
        padding: 0;
        clear: both;
    }

    #center-info {
        clear: both;
        width: 100%;
        padding: 0;
        height: 1200px;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        clear: both;
        padding-top: 500px;
        margin: 0 auto;
    }

    hr {
        display: none;
    }

    .form-container {
        width: 50%;
        height: auto;
        clear: both;
        margin: 0 auto;
    }
}

/* medium screen sizes 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    #viking-info {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-info h3, #right-info h3 {
        width: 100%;
        text-align: center;
    }


    #left-info p, #right-info p {
        width: 100%;
        text-align: center;
    }

    #gods {
        column-count: 3;
    }

    .form-container {
        width: auto;
        height: auto;
        font-size: 20px;
        padding: 25px;
        margin: 0 auto;
        clear: both;
    }

    legend {
            font-size: 40px;
            padding-top: 150px;
            width: 300px;
            height: auto;
            text-align: center;
    }

        #feedback {
            width: 300px;
            height: auto;
            text-align: center;
    }

    input[type=submit] {
        margin-top: 20px;
        margin-left: 0.75rem;
        padding: 0.75rem;
        background-color: rgb(246, 176, 0);
        color: black;
        border: none;
        border-radius: 5px;
        text-align: center;
    }
    
    input[type=reset] {
        margin-top: 20px;
        margin-left: 0.75rem;
        padding: 0.75rem;
        background-color: rgb(246, 176, 0);
        color: black;
        border: none;
        border-radius: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    
    #gods {
        column-count: 2;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: medium;
        width: 100%;
    }

    #god-cards {
        padding-top: 667px;
    }

    footer {
        width: 100%;
        height: 150px;
    }
}