@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cinzel, sans-serif;
    font-weight: 300;
    background-color: rgb(0, 0, 0);
}

/* heading and logo */

h1, h2 {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(246, 176, 0);
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
    color: #f0ffff;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #f0ffff;
}

.active {
    border-bottom: 1px solid #f0ffff;
}

/* homepage image */

#homepage-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url(../images/michele-nucera-vikings-village.jpg) no-repeat center center;

    /* zoom animation when loading page */
    animation-name: homepage-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for homepage image */
@keyframes homepage-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}